<div id="rename-form-container-<%=type%>-<%= id %>"
     class="justify-center flex-col gap-2 hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-sm py-4 px-6 bg-white dark:bg-gray-800 rounded-lg shadow-xl z-30 transition-all duration-300 ease-in-out opacity-0 border border-gray-200 dark:border-gray-700"
>
    <form id="rename-form-<%=type%>-<%= id %>"
          action="/folder/<%=type%>/<%= id %>/rename"
          method="post"
          class="flex flex-col gap-4"
    >
        <input type="hidden"
               name="folderId"
               value="<%= id %>"
        >

        <!-- Label -->
        <label for="itemName-<%= id %>" class="text-sm font-medium text-gray-700 dark:text-gray-300">
            Rename:
        </label>

        <!-- Input Field -->
        <input type="text"
               id="itemName-<%= id %>"
               name="itemName"
               value="<%= name %>"
               class="w-full px-4 py-2 text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500 border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all duration-200 ease-in"
               placeholder="Enter new name"
        >

        <!-- Buttons -->
        <div class="flex items-center gap-4 justify-end">
            <button
                    type="button"
                    class="px-4 py-2 text-sm text-gray-600 dark:text-gray-300 bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-600 transition-all duration-200"
                    onclick="document.getElementById('rename-form-container-<%=type%>-<%= id %>').classList.add('hidden')"
            >
                Cancel
            </button>
            <button
                    type="submit"
                    class="px-5 py-2 text-sm text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-gray-800 transition-colors duration-200"
            >
                Rename
            </button>
        </div>
    </form>
</div>