<div class="folder-container">
    <div class="folder-name-container">
        <img src="../../assets/folder2.svg" alt="Folder icon">
        <a
                class="folder-link"
                href="/folder<%= folder.path %>"
        >
            <%= folder.name %>
        </a>
    </div>

    <%- include("folder-buttons.ejs", {folder}) %>
    <form
            id="rename-form<%= folder.id %>"
            action="/folder/rename<%= folder.path %>"
            method="post"
    >

        <input
                type="hidden"
                name="folderId"
                value="<%= folder.id %>"
                aria-label="Rename"
        >
        <input
                type="text"
                name="folderName"
                value="<%= folder.name %>"
                aria-label="Delete"
        >
        <button
                type="submit">Rename
        </button>
    </form>
</div>