<div
        id="folder-button-options-container<%= folder.id %>"
        class="folder-button-options-container"
        onmouseenter="folderButtonHandlerOver(<%= folder.id %>)"
        onmouseleave="folderButtonHandlerOut(<%= folder.id %>)"
>
    <img
            class="folder-options"
            src="../../assets/three-dots-vertical.svg"
            alt="Folder options"
    >
    <div
            id="folder-options-buttons<%= folder.id %>"
            class="folder-options-buttons"
            style="
                display: none
            "
    >
        <button
                id="rename-btn"
                onclick="renameHandler(<%= folder.id %>)"
        >
            Rename
        </button>
        <button
                id="delete-btn"
                onclick="deleteHandler(<%= folder.id %>)"
        >
            Delete
        </button>

    </div>
</div>

