<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folders</title>
    <link
            rel="stylesheet"
            href="/css/style.css"
    >
    <script src="/scripts/rename.js" defer></script>
</head>
<body>
<%- include("partials/header.ejs") %>
<div id="container">
    <h1>Folders</h1>
    <% if (user) { %>
        <form
                action=""
                method="post"
        >
            <button type="submit">Add folder</button>
        </form>

        <div>
            <% folders.forEach((folder) => { %>
                <div>
                    <a class="folder-link" href="/folder<%= folder.path %>"><%= folder.name %></a>

                    <!-- Form for renaming -->
                    <form action="/folder/rename<%= folder.path %>" method="post" class="rename-form" id="rename-form-<%= folder.id %>" style="display: none;">
                        <input type="hidden" name="folderId" value="<%= folder.id %>">
                        <input type="text" name="newFolderName" value="<%= folder.name %>">
                        <button type="submit">Submit</button>
                    </form>

                    <!-- Button to show the rename input -->
                    <button onclick="toggleRenameForm(<%= folder.id %>)" id="rename-btn-<%= folder.id %>">Rename</button>
                </div>
            <% }) %>
        </div>
    <% } %>

</div>

</body>
</html>