<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folders</title>
    <link rel="icon" href="/assets/safe2-fill.svg">
    <link rel="stylesheet" href="/css/output.css">
    <script src="/scripts/main.js" type="module" defer></script>
    <script src="/scripts/rename.js" defer></script>
    <script src="/scripts/file.js" defer></script>
    <script src="/scripts/folderOpt.js" defer></script>
    <script src="/scripts/delete.js" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
<%- include("partials/loader.ejs") %>
<%- include("partials/header.ejs") %>
<div id="container"
     class="flex gap-2 flex-col m-auto items-center w-3/4 mt-4"
>

    <% if (user) { %>

        <section class="container mx-auto ">

            <div class="flex items-center justify-center mt-4 gap-x-3 w-full sm:justify-end">
                <form action="/folder/<%= folders.id %>/create-folder"
                      method="post"
                >
                    <button type="submit" class=" px-5 py-2 text-sm text-gray-800 transition-colors duration-200 bg-white border rounded-lg sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-white dark:border-gray-700">
                        Add folder
                    </button>
                </form>

                <button @click.stop
                        type="submit"
                        class="flex items-center justify-center px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
                        onclick="fileHandler(<%= folders.id %>)"
                >
                    <span>Upload file</span>
                </button>
                <%- include("./modals/upload.ejs", {folders}) %>

            </div>

            <%- include("./partials/path.ejs", {path}) %>

            <div class="flex flex-col mt-2">
                <div class="overflow-x-auto "> <!-- Added for scrollable overflow -->
                    <table class="whitespace-nowrap w-full min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                        <tr>
                            <th scope="col"
                                class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <div class="flex items-center gap-x-3">
                                    <span>File name</span>
                                </div>
                            </th>
                            <th scope="col"
                                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                File size
                            </th>
                            <th scope="col"
                                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                Created
                            </th>

                            <th scope="col" class="relative py-3.5 px-4">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900 ">
                        <% if(folders.subFolders.length > 0 || files.length > 0) { %>
                            <% folders.subFolders.forEach((folder) => { %>
                                <%- include("partials/item.ejs", {
                                id: folder.id,
                                name: folder.name,
                                createdAt: folder.createdAt,
                                size: "-",
                                type: "folder"
                                })
                                %>
                            <% }) %>
                            <% files.forEach((file) => { %>
                                <%- include("partials/item.ejs", {
                                id: file.id,
                                name: file.name,
                                createdAt: file.createdAt,
                                size: file.size,
                                type: "file"
                                })
                                %>
                            <% }) }%>

                        </tbody>
                    </table>
                    <% if(folders.subFolders.length <= 0 && files.length <= 0) { %>
                        <p class="text-2xl text-center mt-4">Empty folder</p>
                    <%}%>
                </div>
            </div>

        </section>
    <% } %>

</div>

</body>
</html>